/* NOTE: tagselectors */


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

a {
  color: #df7861;
  text-decoration: none;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #21243d;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #9399ff;
  font-weight: bolder;
}

h3 {
  color: #6f5a7e;
}

hr {
  margin: 50px auto;
  border: grey dotted 3px;
  border-style: dotted none none none;
  width: 500px;
}


p {
  font-family: 'Montserrat', sans-serif;
}

header{
  position: sticky;
  top: 0;
  width: 100%;
  height: 10vh;
}

nav{
  width: 100%;
  height: 10vh;
  background: linear-gradient(to bottom, #79bac1 25%, powderblue 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav a{
  color: white;
  text-shadow: 2px 2px 3px black;
}

nav .logo{
  margin-left: 15px;
  width: 15%;
  text-align: center;
  box-shadow: 10px 5px 5px darkblue;
  background: linear-gradient(to bottom, black 5%, blue 100%);
  background-color: #79bbff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 22px;
  text-decoration: none;
}

nav .logo:hover{
  background: linear-gradient(to bottom, blue 5%, black 100%);
  background-color: #378de5;
}
nav .menu{
  width: 50%;
  display: flex;
  justify-content: space-around;
}

nav .menu a{
  width: 25%;
  margin: 15px;
}


/* NOTE: class selectors */


.top-container {
  margin: 0;
  height: 70vh;
  background-color: powderblue;
  padding-top: 100px;
  background-image: url("black.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.top-container h1{
  color: white;
}

.top-container h2{
  color: white;
  line-height: 17;
}

.profile {
  margin-top: 25px;
}

.myskillspic {
  width: 25%;
  float: left;
  margin-right: 30px;
  padding: 25px 5px 15px 15px;
}

.myskillspic2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  padding: 25px 5px 15px 15px;
}

.skill-row1 {
  margin: 10px auto;
  width: 50%;
  height: 250px;
  text-align: left;
  line-height: 2;
  background-color: #ededed;
  border-left: solid 10px lightblue;
  padding: 15px 15px;
}

.skill-row2 {
  margin: 25px auto;
  width: 50%;
  height: 225px;
  text-align: left;
  line-height: 2;
  background-color: #ededed;
  border-right: solid 10px lightblue;
  padding: 15px 15px;
}

.contact-me {
  width: 100%;
  margin: 25px auto;
}

.btn {
  box-shadow: 10px 5px 5px darkblue;
  background: linear-gradient(to bottom, black 5%, blue 100%);
  background-color: #79bbff;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 20px;
  font-weight: bold;
  padding: 11px 22px;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(to bottom, blue 5%, black 100%);
  background-color: #378de5;
}

.btn:active {
  position: relative;
  top: 1px;
}

.bottom-container {
  padding: 25px 0 5px;
  margin: 35px 0 0 0;
  background-color: darkgrey;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.bottom-container a {
  width: 15%;
  height: 7vh;
  color: white;
  text-shadow: 2px 2px 3px black;
}

.bottom-container p {
  position: absolute;
  top: 55px;
  margin: 25px auto 0;
  padding-bottom: 5px;
  width: 100%;
  background-color: darkgrey;
}
